/* area debug */
.debug header section {
    min-height: 100px;
    border: 1px solid blue;
}
/* jumbo */
.debug .maxi_banner {
    min-height: 200px;
    background-color: navy;
}
.debug .maxi_banner .col {
    min-height: 100px;
    background-color: lightblue;
}
.multi_selection {
    min-height: 100px;
    background-color: red;
}
.selection {
    background-color: greenyellow;
    height: 20px;
}

/* ps5 */
.section_ps5 {
    min-height: 400px;
    background-color: rgb(255, 187, 187);
    padding: 20px;
}
.title_ps5 {
    background-color: rgb(173, 6, 6);
    min-height: 60px;
    border: 1px solid blueviolet;
}
.sub_title_ps5, .img_ps5 {
    background-color: rgb(109, 4, 4);
    min-height: 60px;
    border: 1px solid blueviolet;
}
.accessory_card {
    background-color:rgb(177, 172, 173);
    min-height: 30px;
    border: 1px solid blueviolet;
}

/* nuove uscite */
.bg_darkgrey {
    background-color: darkgrey;
}




/* header */
.head_top {
    background-color: black;
    color: white;
}