/* area debug */

/* .debug header section {
    min-height: 100px;
    border: 1px solid blue;
} */
/* jumbo */
/* .debug .maxi_banner { */
    /* min-height: 200px; */
    /* background-color: navy;
} */
/* .debug .maxi_banner .row div { */
    /* min-height: 100px; */
    /* background-color: lightblue; */

/* .multi_selection {
    min-height: 100px;
    background-color: red;
} */
/* .selection {
    background-color: greenyellow;
    height: 20px;
} */

/* ps5 */
/* .section_ps {
    min-height: 400px;
    background-color: rgb(255, 187, 187);
    padding: 20px;
} */
/* .title_ps {
    background-color: rgb(173, 6, 6);
    min-height: 60px;
    border: 1px solid blueviolet;
} */
/* .sub_title_ps5, .img_ps5 {
    background-color: rgb(109, 4, 4);
    min-height: 60px;
    border: 1px solid blueviolet;
} */
/* .accessory_card {
    background-color:rgb(177, 172, 173);
    min-height: 30px;
    border: 1px solid blueviolet;
} */

/* nuove uscite */
.bg_darkgrey {
    background-color: darkgrey;
}
.nuove_uscite {
    background-color: orange;
}
.debug .maxi_banner_2 {
    min-height: 200px;
    background-color: navy;
}


/* ps plus */
/* .ps_plus {
    min-height: 300px;
    background-color: gold;
} */
.ps_plus aside {
    /* min-height: 120px;
    background-color: silver;
    border: 1px solid black; */
}

/* sconti */
/* .sconti {
    background-color:maroon;
    min-height: 300px;
} */
.sconti .selection {
    background-color: white;
    border: 1px solid red;
    min-height: 50px;
}

/* ps-now */
/* .ps_now {
    min-height: 300px;
    background-color: purple;
}
.ps_now aside {
    min-height: 120px;
    background-color: green;
    border: 1px solid black;
} */

/* social */
/* .social {
    min-height: 100px;
    background-color: blue;
}
.social_title {
    border:1px solid black;
} */

/* info utility */
/* .info_utility {
    min-height: 300px;
    background-color: lightblue;
}
.info_utility .row .col-12 {
    background-color: indigo;
    min-height: 80px;
} */
/* fine area debug */


/* generale */
h2 {
    font-size: 250%;
    font-weight: 600;
}
h3 {
    font-weight: 600;
}
.accessory_card img,
.img_ps5 img,
.nuovi_sconti img,
.social img {
    width: 100%;
}
.color_white {
    color: white;
}
.underline_link {
    text-decoration: underline !important;
}

/* header */
header a{
    color:black !important;
    font-weight: bold;
}
/* head-top */
.head_top {
    background-color: black;
}
.head_top img {
    width: 10rem;
}
/* head-down */
.dropdown-toggle::after {
    content: none;
}
.nav-item img {
    width: 1rem;
}
.head_bottom {
    background-color: white;
}

/* jumbo */
.maxi_banner {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    margin-top:136.2px;
    min-height: 665px;
}
.btn_banner {
    background-color: #cd3d0f;
}
.selection {
    transition: 0.5s ;
}
.selected {
    border: 2px solid blue;
    padding: 3px;
    width: 95% !important;
}
.selection img{
    width: 100%;
    border-radius: 10%; 
}
.selection:hover {
    margin-top: 0rem;
}
.selection:visited img{
    border: 1px solid blue;
}

/* ps5 */
.title_ps {
    font-size: small;
    text-align: center;
}
.title_ps span:first-child {
    color: #0072ce
}
.title_ps p, 
.sub_title_ps5 span,
.nuovi_sconti p{
    color: grey;
}
.btn_blue {
    background-color: #2d64e6;
    display: block;
    margin: 2rem 0;
}
.accessory_card {
    opacity: 0.4;
}
.accessory_card:hover {
    border:none;
    border-bottom: 2px solid blue;
    opacity: 1;
    margin-bottom: -2px;
} 
.des_ps5{
    margin-top:1rem;
    padding-bottom: 1rem;
}
.des_ps5 a {
    text-decoration: none;
    color:black;
}

/* nuove uscite */
.nuove_uscite {
    background-color: #1f1f1f;
}
.maxi_banner_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.nuove_uscite .selection:hover{
    margin-bottom:-2px;
}

/* PS4 */
.card {
    border:none;
}
.mb_2px {
    margin-bottom: 2px;
}

/* plus */
.ps_plus {
    background-color: #bebcbb;
}
.btn_plus {
    background-color: lightgrey;
    color: #2d64e6;
    width: inherit;
    font-weight: 600;
}
.plus_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem;
}
.adapt_img {
    height: 100%;
    width: 100%;
}

/* now */
.ps_now {
    background-color: #161c3b;
}
.btn_now {
    background-color: white;
    color: black;
    font-weight: 600;
    width: inherit;
}

/* social */
.social_title {
    margin-bottom: 4rem;
    font-size: 2rem !important;
}

/* footer */
.info_utility {
    background-color: #00439c;
    font-weight: 600;
}
.info_utility li{
    list-style: none;
}
.info_utility a {
    text-decoration: none;
    color: white;
}
#globe_mini {
    width: 3%;
    vertical-align: -1px;
}
.select_country {
    width: unset;
    display: inline;
    background-color: #00439c;
    color: white;
    border: none;
    background-image: none;
}
